@inject DIDemo.ExampleClasses.IInstanceDependencyExample service;
@{
    ViewData["Title"] = "About";
}


<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<div>
    <p>Injected in Razor view:</p>
    <p>@service.ID</p>
</div>
<div>
    <p>Injected with method parameter injection:</p>
    <p>@ViewBag.ID</p>
</div>
